# Project Lab

## Import library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import os
pd.set_option('display.max_columns', 500)

In [6]:
os.chdir('/Users/randy/Documents/PACMANN AI/')

## Read Data

In [7]:
sus12_kr = pd.read_csv('susenas12/sn12_krt.csv')

In [8]:
sus12_kr

,URUT,B1R1,B1R2,B1R5,B1R8,B1R11,B2R1,B2R2,B2R3,B2R4,B2R5,B4BR1,B4BR1A,B4BR1B,B4BR1C,B4BR1D,B6R1,B6R2,B6R3,B6R4,B6R5,B6R6,B6R7,B6R8,B6R9A,B6R9B,B6R10,B6R11,B6R12A,B6R12B,B6R13A,B6R13B,B6R13C,B6R14A,B6R14B,B6R15,B7R1A,B7R1B,B7R1BL,B7R2A,B7R2B,B7R2C,B7R3A1,B7R3A2,B7R3A3,B7R3A4,B7R3A5,B7R3A6,B7R3A7,B7R3A7L,B7R3B,B7R4A,B7R4B,B7R4C,B7R4D,B7R4E,B7R4F,B7R4G,B7R4H,B7R4I,B7R4J,B7R5A,B7R5BA,B7R5BB,B7R5BC,B7R5BD,B7R5BE,B7R5BF,B7R5BG,B7R5BH,B7R6A,B7R6B,B7R6C,B7R6D,B7R6E,B7R6F,B7R6G,B8R1,B8R2A,B8R2B,B8R2C,B8R3A,B8R3B,B9R1A,B9R1B,KABU,EXP_CAP,WERT
0,110112500101601,11,1,1,1,1,4,1,3,2,1,2,NaN,NaN,NaN,NaN,1,1,1,1.0,4,2,4,24,2,NaN,NaN,1,6,3,1,1.0,4.0,1,1.0,4,1,1.0,NaN,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,2,1,2,1,2,1,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,1,2,2,2,1,2.0,2.0,2,2,8,2,1101,3.434643e+05,45.876255
1,110112500101602,11,1,1,2,1,4,0,4,2,1,2,NaN,NaN,NaN,NaN,1,1,1,1.0,4,2,1,100,2,NaN,NaN,1,5,3,1,1.0,4.0,1,2.0,4,1,1.0,NaN,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,1,1,2,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,1,2.0,2.0,2,2,18,2,1101,5.703095e+05,55.252186
2,110112500101603,11,1,1,3,1,4,0,4,4,2,2,NaN,NaN,NaN,NaN,1,1,1,1.0,4,2,1,54,2,NaN,NaN,1,5,3,1,1.0,4.0,1,2.0,2,1,4.0,ASKES,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,2,1,2,1,1,1,1,1,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,1,4.0,4.0,1,1,18,1,1101,1.305774e+06,20.006414
3,110112500101604,11,1,1,4,1,6,2,4,3,1,2,NaN,NaN,NaN,NaN,1,1,1,1.0,4,2,1,70,2,NaN,NaN,1,5,3,1,1.0,4.0,1,2.0,4,1,4.0,ASKES,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,2,1,2,2,1,1,1,1,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2,2,2,2,2,2,1,3.0,3.0,2,2,18,1,1101,4.017619e+05,42.398369
4,110112500101605,11,1,1,5,1,4,1,3,2,2,2,NaN,NaN,NaN,NaN,1,1,1,1.0,4,2,4,24,2,NaN,NaN,1,11,3,1,1.0,4.0,1,1.0,4,1,4.0,ASKES,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,2,1,2,1,2,1,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2,2,2,2,2,2,1,1.0,1.0,2,2,1,1,1101,7.000714e+05,43.420265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286108,947122001103806,94,71,2,6,1,5,2,3,3,3,2,NaN,NaN,NaN,NaN,1,1,1,1.0,4,1,1,90,2,NaN,NaN,1,5,3,1,1.0,1.0,1,2.0,4,2,NaN,NaN,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,1,1,2,1,1,2,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2,2,2,2,2,2,1,3.0,3.0,2,1,18,1,9471,1.648210e+06,438.129364
286109,947122001103807,94,71,2,7,1,5,0,5,4,2,2,NaN,NaN,NaN,NaN,1,1,1,1.0,4,1,1,40,2,NaN,NaN,1,3,1,1,1.0,1.0,1,3.0,4,2,NaN,NaN,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,1,1,2,1,1,2,2,1,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,1,1,5.0,6.0,1,1,18,1,9471,1.959000e+06,321.015991
286110,947122001103808,94,71,2,8,1,2,0,2,2,2,2,NaN,NaN,NaN,NaN,1,1,3,NaN,4,1,3,18,3,NaN,1.0,2,3,2,1,1.0,1.0,1,3.0,4,2,NaN,NaN,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,2,2,2,1,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,1,2.0,2.0,2,2,13,2,9471,2.233357e+06,324.770111
286111,947122001103809,94,71,2,9,1,7,0,7,6,1,2,NaN,NaN,NaN,NaN,1,1,3,NaN,4,1,3,40,3,NaN,1.0,2,3,2,1,1.0,1.0,1,4.0,4,2,NaN,NaN,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,2,2,2,2,2,2,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,1,5.0,5.0,2,1,1,2,9471,7.117279e+05,14.112268
286112,947122001103810,94,71,2,10,1,6,0,6,5,2,2,NaN,NaN,NaN,NaN,1,1,1,1.0,4,1,1,98,3,NaN,1.0,2,3,2,1,1.0,1.0,1,3.0,4,2,NaN,NaN,2.0,NaN,NaN,2,2,2,2,2,2,2.0,NaN,NaN,2,1,2,1,2,2,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,1,6.0,6.0,1,1,16,1,9471,1.348310e+06,6.000000

In [9]:
sus12_kr.columns

Index(['URUT', 'B1R1', 'B1R2', 'B1R5', 'B1R8', 'B1R11', 'B2R1', 'B2R2', 'B2R3',
       'B2R4', 'B2R5', 'B4BR1', 'B4BR1A', 'B4BR1B', 'B4BR1C', 'B4BR1D', 'B6R1',
       'B6R2', 'B6R3', 'B6R4', 'B6R5', 'B6R6', 'B6R7', 'B6R8', 'B6R9A',
       'B6R9B', 'B6R10', 'B6R11', 'B6R12A', 'B6R12B', 'B6R13A', 'B6R13B',
       'B6R13C', 'B6R14A', 'B6R14B', 'B6R15', 'B7R1A', 'B7R1B', 'B7R1BL',
       'B7R2A', 'B7R2B', 'B7R2C', 'B7R3A1', 'B7R3A2', 'B7R3A3', 'B7R3A4',
       'B7R3A5', 'B7R3A6', 'B7R3A7', 'B7R3A7L', 'B7R3B', 'B7R4A', 'B7R4B',
       'B7R4C', 'B7R4D', 'B7R4E', 'B7R4F', 'B7R4G', 'B7R4H', 'B7R4I', 'B7R4J',
       'B7R5A', 'B7R5BA', 'B7R5BB', 'B7R5BC', 'B7R5BD', 'B7R5BE', 'B7R5BF',
       'B7R5BG', 'B7R5BH', 'B7R6A', 'B7R6B', 'B7R6C', 'B7R6D', 'B7R6E',
       'B7R6F', 'B7R6G', 'B8R1', 'B8R2A', 'B8R2B', 'B8R2C', 'B8R3A', 'B8R3B',
       'B9R1A', 'B9R1B', 'KABU', 'EXP_CAP', 'WERT'],
      dtype='object')

## Choose Variables

Memilih variabel yang berkaitan dengan lingkup penelitian project. Variabel yang dipilih sebagai berikut:
1. __B1R1__: Kode Provinsi
2. __B1R2__: Kode Kabupaten/Kta
3. __B1R5__: Klasifikasi Desa/Kelurahan
4. __B2R2__: Banyaknya ART Umur 0-4 Thn
5. __B2R3__: Banyaknya ART Umur 5 Thn Keatas
6. __B2R4__: Banyaknya ART Umur 10 Thn Keatas
7. __B2R5__: Banyaknya ART Umur 10 Thn Keatas yang bekerja 3 bulan terakhir
8. __B6R1__: Bangunan sensus yang ditempati
9. __B6R2__: Banyaknya rumah tangga dalam bangunan sensus
10. __B6R3__: Status penguasaan bangunan tempat tinggal yang ditempati
11. __B6R4__: Status tanah tempat tinggal
12. __B6R6__: Jenis dinding terluas
13. __B6R8__: Luas lantai
14. __B6R12A__: Sumber air untuk mandi/cuci
15. __B6R12B__: Cara memperoleh air mandi/cuci
16. __B6R13A__: Penggunaan fasilitas tempat buang air besar
17. __B6R13B__: Jenis kloset
18. __B6R14A__: Sumber penerangan
19. __B7R4A__: Sepeda
20. __B7R4B__: Sepeda Motor
21. __B7R4C__: Perahu
22. __B7R4D__: TV kabel
23. __B7R4E__: AC
24. __B7R4F__: Pemanas air (water heater)
25. __B7R4G__: Tabung gas 12 kg atau lebih
26. __B7R4H__: Lemari es/kulkas
27. __B7R4I__: Perahu motor
28. __B7R4J__: Mobil
29. __B7R5A__: Apakah penghasilan rumah tangga ini cukup
30. __B7R5BA__: Menggunakan uang Simpanan
31. __B7R5BB__: Menjual barang milik sendiri
31. __B7R5BC__: Meminjam dari saudara/famili
32. __B7R5BD__: Meminjam dari teman/tetangga
33. __B7R5BE__: Meminjam dari tukang kredit
34. __B7R5BF__: Meminjam tunai dari Bank
35. __B7R5BG__: Meminjam dari koperasi
36. __B7R5BH__: Menggadaikan barang

In [12]:
df_raw = sus12_kr[['URUT','B1R1','B1R2','B1R5','B2R2','B2R3','B2R4','B2R5',
                   'B6R1','B6R2','B6R3','B6R4','B6R6','B6R8','B6R12A','B6R12B',
                   'B6R13A','B6R13B','B6R14A','B7R4A','B7R4B','B7R4C','B7R4D',
                   'B7R4E','B7R4F','B7R4G','B7R4H','B7R4I','B7R4J','B7R5A',
                   'B7R5BA','B7R5BB','B7R5BC','B7R5BD','B7R5BE','B7R5BF','B7R5BG','B7R5BH','WERT']]
df_raw=df_raw.assign(bps_2009=df_raw['B1R1']*100+df_raw['B1R2'])
df_raw.head()

,URUT,B1R1,B1R2,B1R5,B2R2,B2R3,B2R4,B2R5,B6R1,B6R2,B6R3,B6R4,B6R6,B6R8,B6R12A,B6R12B,B6R13A,B6R13B,B6R14A,B7R4A,B7R4B,B7R4C,B7R4D,B7R4E,B7R4F,B7R4G,B7R4H,B7R4I,B7R4J,B7R5A,B7R5BA,B7R5BB,B7R5BC,B7R5BD,B7R5BE,B7R5BF,B7R5BG,B7R5BH,WERT,bps_2009
0,110112500101601,11,1,1,1,3,2,1,1,1,1,1.0,2,24,6,3,1,1.0,1,2,1,2,1,2,1,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.876255,1101
1,110112500101602,11,1,1,0,4,2,1,1,1,1,1.0,2,100,5,3,1,1.0,1,1,1,2,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.252186,1101
2,110112500101603,11,1,1,0,4,4,2,1,1,1,1.0,2,54,5,3,1,1.0,1,2,1,2,1,1,1,1,1,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.006414,1101
3,110112500101604,11,1,1,2,4,3,1,1,1,1,1.0,2,70,5,3,1,1.0,1,2,1,2,2,1,1,1,1,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.398369,1101
4,110112500101605,11,1,1,1,3,2,2,1,1,1,1.0,2,24,11,3,1,1.0,1,2,1,2,1,2,1,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.420265,1101

In [13]:
len(df_raw.columns)

40

## Data Cleansing

### Check Missing Value

In [39]:
total = df_raw.isnull().sum().sort_values(ascending=False)
percent = (df_raw.isnull().sum()/df_raw.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(10)

         Total   Percent
B7R5BG  213444  0.746013
B7R5BF  213444  0.746013
B7R5BE  213444  0.746013
B7R5BD  213444  0.746013
B7R5BC  213444  0.746013
B7R5BB  213444  0.746013
B7R5BA  213444  0.746013
B7R5BH  213443  0.746009
B6R13B   53829  0.188139
B6R4     52310  0.182830

In [19]:
df_raw.shape

(286113, 40)

In [47]:
#Missing value di B7R5BA - B7R5BH karena di B7R5A memilih 1. Ya
#Missing value di B7R5BA - B7R5BH diganti dengan kategori 0

df_raw[df_raw['B7R5A']==2]

,URUT,B1R1,B1R2,B1R5,B2R2,B2R3,B2R4,B2R5,B6R1,B6R2,B6R3,B6R4,B6R6,B6R8,B6R12A,B6R12B,B6R13A,B6R13B,B6R14A,B7R4A,B7R4B,B7R4C,B7R4D,B7R4E,B7R4F,B7R4G,B7R4H,B7R4I,B7R4J,B7R5A,B7R5BA,B7R5BB,B7R5BC,B7R5BD,B7R5BE,B7R5BF,B7R5BG,B7R5BH,WERT,bps_2009
12,110112500108203,11,1,1,1,6,4,2,1,1,1,1.0,2,36,7,3,3,1.0,1,2,1,2,1,2,1,2,2,2,2,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,64.323265,1101
13,110112500108204,11,1,1,0,4,4,3,1,1,1,1.0,2,36,7,3,1,1.0,1,2,1,2,2,2,1,2,2,2,2,2,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,50.284561,1101
15,110112500108206,11,1,1,1,5,5,1,1,1,1,1.0,2,48,7,3,1,1.0,1,2,2,2,1,2,2,2,2,2,2,2,2.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,39.942383,1101
19,110112500108210,11,1,1,2,2,2,1,1,1,1,1.0,2,45,6,3,4,NaN,1,2,1,2,1,2,2,2,1,2,2,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,55.252186,1101
20,110112500202401,11,1,1,0,5,5,2,1,1,1,2.0,2,60,11,3,4,NaN,1,2,1,2,2,2,1,2,2,2,2,2,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,36.383209,1101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286034,947111509102610,94,71,1,0,2,2,1,1,1,1,1.0,2,56,8,2,1,1.0,1,2,2,2,2,2,2,2,2,2,2,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,32.588055,9471
286050,947111510304601,94,71,1,2,2,2,1,1,1,1,3.0,2,36,8,3,2,1.0,1,2,1,2,1,2,2,2,2,2,2,2,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,295.679749,9471
286052,947111510304603,94,71,1,1,5,5,1,1,2,1,1.0,1,90,8,3,3,1.0,1,2,2,2,2,2,2,2,2,2,2,2,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,156.131073,9471
286057,947111510304608,94,71,1,0,2,2,1,1,1,1,1.0,2,35,6,3,1,1.0,1,2,2,2,2,2,2,2,2,2,2,2,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,302.546448,9471
286064,947111510404807,94,71,1,0,4,2,1,1,1,1,4.0,2,48,6,3,1,4.0,1,2,2,2,2,2,2,2,2,2,2,2,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,130.884247,9471

In [35]:
B6R4 = df_raw[df_raw['B6R4'].isna()]
B6R4

,URUT,B1R1,B1R2,B1R5,B2R2,B2R3,B2R4,B2R5,B6R1,B6R2,B6R3,B6R4,B6R6,B6R8,B6R12A,B6R12B,B6R13A,B6R13B,B6R14A,B7R4A,B7R4B,B7R4C,B7R4D,B7R4E,B7R4F,B7R4G,B7R4H,B7R4I,B7R4J,B7R5A,B7R5BA,B7R5BB,B7R5BC,B7R5BD,B7R5BE,B7R5BF,B7R5BG,B7R5BH,WERT,bps_2009
7,110112500101608,11,1,1,0,1,1,1,2,2,3,NaN,2,70,5,3,1,1.0,1,2,2,2,2,2,1,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.333202,1101
21,110112500202402,11,1,1,0,1,1,1,1,1,5,NaN,1,60,6,3,1,1.0,1,2,1,2,2,2,1,1,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.332432,1101
22,110112500202403,11,1,1,0,2,2,2,2,1,2,NaN,2,40,6,3,1,1.0,1,2,1,2,2,2,1,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.066231,1101
28,110112500202409,11,1,1,0,1,1,1,1,1,2,NaN,2,48,11,3,1,1.0,1,2,2,2,2,2,1,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.333202,1101
30,110112500203801,11,1,1,1,2,2,2,1,1,2,NaN,2,40,11,3,1,1.0,1,2,2,2,2,2,1,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.327290,1101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286095,947122000602410,94,71,2,0,5,5,4,1,1,5,NaN,1,36,6,3,2,1.0,1,2,2,2,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.595276,9471
286096,947122000902601,94,71,2,0,2,2,2,1,1,5,NaN,2,36,7,3,1,3.0,1,1,1,2,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.124115,9471
286104,947122000902609,94,71,2,1,3,2,2,1,1,6,NaN,1,36,6,3,1,1.0,1,2,2,2,2,2,2,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.333618,9471
286110,947122001103808,94,71,2,0,2,2,2,1,1,3,NaN,1,18,3,2,1,1.0,1,2,2,2,1,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324.770111,9471
286111,947122001103809,94,71,2,0,7,6,1,1,1,3,NaN,1,40,3,2,1,1.0,1,2,2,2,2,2,2,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.112268,9471

In [37]:
#Missing B6R4 paling banyak yg memilih B6R3 selain no.1 Milik Sendiri
#Kategori 2= kontrak, 3=sewa, 4=bebas sewa milik orang lain, 5=bebas sewa milik orang tua/sanak/saudara, 6= dinas, 7=lainnya
# B6R4 NaN diganti kategori 4 yaitu lainnya
B6R4['B6R3'].value_counts()

5    21856
3    10513
2     8500
6     5875
4     4963
7      603
Name: B6R3, dtype: int64

In [48]:
B6R13B = df_raw[df_raw['B6R13B'].isna()]
B6R13B

,URUT,B1R1,B1R2,B1R5,B2R2,B2R3,B2R4,B2R5,B6R1,B6R2,B6R3,B6R4,B6R6,B6R8,B6R12A,B6R12B,B6R13A,B6R13B,B6R14A,B7R4A,B7R4B,B7R4C,B7R4D,B7R4E,B7R4F,B7R4G,B7R4H,B7R4I,B7R4J,B7R5A,B7R5BA,B7R5BB,B7R5BC,B7R5BD,B7R5BE,B7R5BF,B7R5BG,B7R5BH,WERT,bps_2009
16,110112500108207,11,1,1,1,7,7,3,1,1,1,1.0,2,35,10,3,4,NaN,1,2,1,2,1,2,1,2,1,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.752403,1101
18,110112500108209,11,1,1,0,7,5,2,1,1,1,1.0,2,72,7,3,4,NaN,1,1,2,2,1,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.323265,1101
19,110112500108210,11,1,1,2,2,2,1,1,1,1,1.0,2,45,6,3,4,NaN,1,2,1,2,1,2,2,2,1,2,2,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,55.252186,1101
20,110112500202401,11,1,1,0,5,5,2,1,1,1,2.0,2,60,11,3,4,NaN,1,2,1,2,2,2,1,2,2,2,2,2,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,36.383209,1101
24,110112500202405,11,1,1,0,3,2,2,1,1,1,1.0,2,42,11,3,4,NaN,1,2,2,2,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.327290,1101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285710,943622004003209,94,36,2,2,2,2,2,1,1,1,1.0,2,18,11,3,4,NaN,4,2,1,2,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.074741,9436
285711,943622004003210,94,36,2,0,4,3,3,1,1,1,1.0,2,18,11,3,4,NaN,4,2,2,1,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.074741,9436
285772,947111500802802,94,71,1,1,2,2,1,1,1,3,NaN,4,10,5,3,4,NaN,1,2,2,2,2,2,2,2,2,2,2,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,326.432190,9471
285903,947111503305207,94,71,1,0,2,2,1,1,1,1,1.0,2,6,7,3,4,NaN,2,2,2,2,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,265.914734,9471
285904,947111503305210,94,71,1,0,2,2,1,1,1,1,1.0,2,12,9,3,4,NaN,1,2,1,2,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308.976562,9471

In [49]:
#B6R13B missing value karena di B6R13A memilih 4. Tidak ada
#Missing value akan diganti 4. Tidak Pakai
B6R13B['B6R13A'].value_counts()

4    53829
Name: B6R13A, dtype: int64

### Imputation

In [50]:
df_raw['B7R5BA'] = df_raw['B7R5BA'].fillna(0)
df_raw['B7R5BB'] = df_raw['B7R5BB'].fillna(0)
df_raw['B7R5BC'] = df_raw['B7R5BC'].fillna(0)
df_raw['B7R5BD'] = df_raw['B7R5BD'].fillna(0)
df_raw['B7R5BE'] = df_raw['B7R5BE'].fillna(0)
df_raw['B7R5BF'] = df_raw['B7R5BF'].fillna(0)
df_raw['B7R5BG'] = df_raw['B7R5BG'].fillna(0)
df_raw['B7R5BH'] = df_raw['B7R5BH'].fillna(0)
df_raw['B6R4'] = df_raw['B6R4'].fillna(4)
df_raw['B6R13B'] = df_raw['B6R13B'].fillna(4)

In [53]:
total = df_raw.isnull().sum().sort_values(ascending=False)
percent = (df_raw.isnull().sum()/df_raw.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

          Total  Percent
bps_2009      0      0.0
WERT          0      0.0
B6R13B        0      0.0
B6R13A        0      0.0
B6R12B        0      0.0
B6R12A        0      0.0
B6R8          0      0.0
B6R6          0      0.0
B6R4          0      0.0
B6R3          0      0.0
B6R2          0      0.0
B6R1          0      0.0
B2R5          0      0.0
B2R4          0      0.0
B2R3          0      0.0
B2R2          0      0.0
B1R5          0      0.0
B1R2          0      0.0
B1R1          0      0.0
B6R14A        0      0.0
B7R4A         0      0.0
B7R4B         0      0.0
B7R5BA        0      0.0
B7R5BH        0      0.0
B7R5BG        0      0.0
B7R5BF        0      0.0
B7R5BE        0      0.0
B7R5BD        0      0.0
B7R5BC        0      0.0
B7R5BB        0      0.0
B7R5A         0      0.0
B7R4C         0      0.0
B7R4J         0      0.0
B7R4I         0      0.0
B7R4H         0      0.0
B7R4G         0      0.0
B7R4F         0      0.0
B7R4E         0      0.0
B7R4D         0      0.0
URUT          0      0.0